body {
    font-family: sans-serif;
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
    display: block;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    display: flex;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: white;
    text-decoration: none;
    display: block;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 45px;
    margin-bottom: 40px;
}

.post-text {
    font-size: 24px;
}

.info {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
}

.post {
    background-color: white;
    padding: 15px 45px 30px 45px;
    width: 400px;
    margin: 20px;
    position: relative;
}

.article-but {
    text-decoration: none;
    background-color: #133aac;
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;
    display: block;
}

.full-image {
    margin: 100px 0px 100px 0px;
}

.social {
    display: block;
    width: 30px;
}

footer {
    background-color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 20px 45px;

}

.footer-text {
    font-size: 24px;
    margin-right: 30px;
}

.footer-text span {
    color: #850AE5;
    font-weight: bolder;
}
aside{
    background-color: rgb(131, 38, 131);
    position: fixed;
    right: 0px;
    bottom: 0px;
    width:90px ;
    border-radius:10px;
    padding:10px;
}
.kartinka{
    position: relative;
}

.sticker{
    position: absolute;
    width:100px ;
    top: 50px;
    right: 0px;
}

h1::before {
    content: url("/uploads/2021/03/click-38743_1280%201_0_1614962641.png");
    margin-right:10px;
}

h1::after {
    content: url("/uploads/2021/03/click-38743_1280%201_0_1614962641.png");
    margin-left:10px;
}
.address::before{
    content: url("/uploads/2021/03/paw-155322_1280%201_0_1614946877.png");
    width:20px;
    height:20px;
}

.tel::before{
    content: url("/uploads/2021/03/question_0_1614951460.svg");
}
.button:hover{
    background-color:orange;
    color:black;
}


nav a:hover{
   color:orange; 
}
.post:hover{
    background-color: orange;
    color: white;
}
